
.full {
  padding: 0px;
}

.full p {
  margin-top: 0px;
}

.inverse-black {
  background-color: #000000;
  color: #ffc43d;
  text-shadow: 0 0 20px #333;
}
/* Comment 
div.my-footer {
    background-color: #E7EEF0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
}
*/

div.my-footer span {
    font-size: 12pt;
    color: #125972;
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.title-slide h3:nth-of-type(1) {
    color: #ffc43d;
}
.title-slide h3:nth-of-type(2) {
    color: #FFF8DC;
}
.goldslide h1, .goldslide h2, .goldslide h3 {
  color: #FFD700;
  text-shadow: 10px 10px 20px black;
}

img, video, iframe {
  max-width: 100%;
}


.font20 {
  font-size: 20%;
}

.font30 {
  font-size: 30%;
}

.font40 {
  font-size: 40%;
}

.font40 {
  font-size: 40%;
}

.font50 {
  font-size: 50%;
}

.font60 {
  font-size: 60%;
}

.font70 {
  font-size: 70%;
}

.font80 {
  font-size: 80%;
}

.font90 {
  font-size: 90%;
}

.font100 {
  font-size: 100%;
}

.font110 {
  font-size: 110%;
}

.font120 {
  font-size: 120%;
}

.font130 {
  font-size: 130%;
}

.font140 {
  font-size: 140%;
}

.font150 {
  font-size: 150%;
}


.w00 {width: 00%;}
.w01 {width: 01%;}
.w02 {width: 02%;}
.w03 {width: 03%;}
.w04 {width: 04%;}
.w05 {width: 05%;}
.w06 {width: 06%;}
.w07 {width: 07%;}
.w08 {width: 08%;}
.w09 {width: 09%;}
.w10 {width: 10%;}
.w15 {width: 15%;}
.w20 {width: 20%;}
.w25 {width: 25%;}
.w30 {width: 30%;}
.w35 {width: 35%;}
.w40 {width: 40%;}
.w45 {width: 45%;}
.w50 {width: 50%;}
.w55 {width: 55%;}
.w60 {width: 60%;}
.w65 {width: 65%;}
.w70 {width: 70%;}
.w75 {width: 75%;}
.w80 {width: 80%;}
.w85 {width: 85%;}
.w90 {width: 90%;}
.w95 {width: 95%;}
.w99 {width: 99%;}

